.cproject
.project
.pydevproject
.sconsign.dblite

*.csproj
*.pyc
*.suo

.settings/
.localhistory/

bin/
Bin/

/.vs
/Library
/Temp
/obj
/Assets/StreamingAssets/assetbundles
/Assets/StreamingAssets/assetbundles.meta
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-firstpass.csproj
/.vsconfig
/Logs
/spine-csharp.csproj
/spine-unity.csproj
/spine-unity-editor.csproj
/Client_Spine.sln
/zAssetBundle
/Assembly-CSharp.csproj.user
/Client_ZY.sln
/zUpdate
.idea
.vscode
.fleet
/BuildBundles
/DownloadBundles
/Output
/HybridCLRData
/Assets/HybridCLRBuildCache
/Assets/HybridCLRBuildCache.meta
/Assets/HybridCLRData
/Assets/HybridCLRData.meta
/Assets/ResIgnore
Assets/ResIgnore.meta
Assets/StreamingAssets/build_info
Assets/StreamingAssets/build_info
Assets/StreamingAssets/.json

Bundles
Assets/Plugins/Sirenix
Assets/Plugins/Sirenix.meta

Assets/third/DOTween
Assets/third/DOTween.meta